/* homepage.css */

body {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
}

main {
  padding: 20px 0;
}

.blog {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  text-align: center; /* Center text */
  transition: box-shadow 0.3s;
}

.blog:hover {
  box-shadow: 0 8px 16px rgba(0, 183, 148, 0.7); 
}

.blog img {
  max-width: 100%;
  height: auto;
}

.blog h2 {
  margin-top: 0;
  color: #78e3ac;
}

.blog p {
  margin-bottom: 0;
  color: #ccc;
}

.blog a {
  text-decoration: none;
  color: #78e3ac;
}

.blog a:hover {
  color: #5cb85c;
}
