body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Mulish', sans-serif;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-around;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
}
.login-button {
  font-size: 21px; 
}
nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #78e3ac; /* Change the color on hover */
}

.no-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.mt-5 {
  margin-top: 5em;
}

/* Add additional styles for your footer as needed */

footer {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Add media queries for responsiveness as needed */

@media screen and (max-width: 600px) {
  /* Add styles for smaller screens if necessary */
}
